name: ttyd
on:
  workflow_dispatch:
    # push:
    #   paths: .github/workflows/code-server.yaml
    inputs:
      zig:
        description: "Install zig"
        required: true
        default: false
        type: boolean
      helix:
        description: "Install helix"
        required: true
        default: false
        type: boolean
      dufs:
        description: "Install dufs"
        required: true
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Setup Zig
        if: ${{ inputs.zig }}
        uses: goto-bus-stop/setup-zig@v2.2.0
        with:
          version: 0.13.0
          cache: true

      - name: Install cloudflared
        run: |
          VERSION=$(curl -s -S -H "Authorization: Bearer ${{ github.token }}" https://api.github.com/repos/cloudflare/cloudflared/releases | jq -r .[0].tag_name)
          echo "Downloading cloudflared ${VERSION}"
          URL=https://github.com/cloudflare/cloudflared/releases/download/${VERSION}/cloudflared-linux-amd64
          curl -LkSs "${URL}" > cloudflared
          chmod +x cloudflared
          sudo mv cloudflared /usr/local/bin
          cloudflared --version

      - name: Install ttyd
        run: |
          VERSION=$(curl -s -S -H "Authorization: Bearer ${{ github.token }}" https://api.github.com/repos/tsl0922/ttyd/releases | jq -r .[0].tag_name)
          echo "Downloading ttyd ${VERSION}"
          ARCH=$(uname -m)
          URL=https://github.com/tsl0922/ttyd/releases/download/${VERSION}/ttyd.${ARCH}
          curl -LkSs "${URL}" > ttyd
          chmod +x ttyd
          sudo mv ttyd /usr/local/bin
          ttyd --version
      
      - name: Install helix editor
        if: ${{ inputs.helix }}
        run: |
          VERSION=$(curl -s -S -H "Authorization: Bearer ${{ github.token }}" https://api.github.com/repos/helix-editor/helix/releases | jq -r .[0].tag_name)
          echo "Downloading cloudflared ${VERSION}"
          ARCH=$(uname -m)
          URL=https://github.com/helix-editor/helix/releases/download/${VERSION}/helix-${VERSION}-${ARCH}-linux.tar.xz
          curl -L ${URL} | xz -d | tar -C /opt -x
          ln -snf /opt/helix-${VERSION}-${ARCH}-linux/hx /usr/local/bin/hx
          hx --version

      - name: Install dufs
        if: ${{ inputs.dufs }}
        run: |
          VERSION=$(curl -s -S -H "Authorization: Bearer ${{ github.token }}" https://api.github.com/repos/sigoden/dufs/releases | jq -r .[0].tag_name)
          echo "Downloading dufs ${VERSION}"
          ARCH=$(uname -m)
          URL=https://github.com/sigoden/dufs/releases/download/${VERSION}/dufs-${VERSION}-${ARCH}-unknown-linux-musl.tar.gz
          curl -L ${URL} | gzip -d | tar -C /usr/local/bin -x
          dufs --version

      - name: Start ttyd
        run: |
          cat <<EOF >d
          export CHARSET=\${CHARSET:-UTF-8}
          export LANG=\${LANG:-C.UTF-8}
          export LC_COLLATE=\${LC_COLLATE:-C}
          export TERM=xterm-256color
          export COLORTERM=truecolor
          EOF
          sudo mv d /etc/profile.d/my_profile.sh

          sudo apt update
          sudo apt install -y micro lrzsz
          ttyd -t enableZmodem=true -t enableTrzsz=true -t enableSixel=true --writable bash -l &
          cloudflared tunnel --url localhost:7681
